body {
  margin: 0;
  overflow-y: hidden;
}

.outer {
  height: 100vh;
  overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
  display: none;
}

.inner {
  height: 100vh;
}

.page1 {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.react_player {
  position: fixed;
  z-index: -100;
  transition: all 1s ease-in-out;
}

.page1_text {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  color: var(--darkgray-color);
  /* background-color: rgba(0, 0, 0, 0.1); */
  font-family: "Noto Sans KR", sans-serif;
  /* text-shadow: 3px 3px 1px lightgray; */
}

.page2 {
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: px; */
}

.profile_container {
  position: absolute;
  top: 20%;
  left: 10%;
  /* background-color: aquamarine; */
  width: 80%;
  /* min-width: 700px; */
  height: 600px;
}

.page2_title {
  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
  font-size: 70px;
  font-weight: 900;
  margin: 0;
  z-index: 1;
  color: var(--brand-color);
}

.profile {
  position: absolute;
  top: 60px;
  left: 100px;
  height: 500px;
}

.introduce1 {
  position: absolute;
  top: 100px;
  left: 400px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 30px;
  font-weight: 700;
  z-index: 1;
}

.introduce1 > span {
  font-size: 40px;
  font-weight: 700;
  color: var(--brand-color);
}

.introduce2 {
  font-family: "Noto Sans KR", sans-serif;
  max-width: 60%;
  position: absolute;
  top: 300px;
  left: 550px;
  font-size: 20px;
  line-height: 40px;
}

.introduce3 {
  font-size: 25px;
  line-height: 40px;
  color: var(--brand-color);
  font-weight: 700;
}

.page3 {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  align-items: center;
}

.page3_title {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  font-weight: 900;
  margin: 0;
  z-index: 1;
  color: var(--brand-color);
}

.stackcontainer {
  /* position: absolute; */
  top: 15%;
  display: flex;
  /* justify-content: center; */
  /* text-align: center; */
  /* width: 100%; */
}

.stackcontainer > div > div {
  width: 250px;
  margin: 20px 40px;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 9px 18px 34px 0px rgba(0, 0, 0, 0.41);
}

.stackcontainer div h3 {
  font-family: "Roboto", sans-serif;
  color: var(--darkgray-color);
  text-align: center;
  font-size: 25px;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
}
.stackcontainer div img {
  margin-top: 15px;
  width: 250px;
}

.page4 {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
}

.page5 {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page5_title {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  font-weight: 900;
  margin: 0;
  z-index: 1;
  color: var(--brand-color);
}

.contact {
  /* position: relative; */
  width: 450px;
  height: 500px;
  /* background-color: aqua; */
  margin-bottom: 300px;
  padding: 30px;
  box-sizing: border-box;
}

.contact p {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  color: var(--darkgray-color);
}

.contact :nth-child(4) {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.sendemail {
  width: 700px;
  height: 500px;
  background-color: aquamarine;
  margin-bottom: 250px;
}

.qrcontainer {
  margin-left: 20px;
  width: 180px;
  text-align: center;
  /* background-color: aliceblue; */
}

.qrcontainer p {
  font-size: 20px;
  color: var(--brand-color);
  margin: 5px;
  margin-top: 30px;
}

.qrcode {
  width: 130px;
  padding: 5px;
  border: 1px solid var(--brand-color);
}

.contact button {
  background-color: var(--brand-color);
  border: none;
  border-radius: 25px;
  padding: 15px 20px;
  margin-top: 40px;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: var(--darkgray-color);
  color: white;
}

.footer p {
  margin: 0;
  line-height: 30px;
}
